.home_body {
  height: 100%;
  margin-top: 15%;
  font-size: 14px !important;
}

.home_body_menu {
}

.home_body_card {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
}
